@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url("../images/back-2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: #c1c3c6;
  align-items: center;
  padding: 0.5rem 0;
  font-family: Verdana, sans-serif;
}

h2 {
  text-align: center;
}

a:hover,
a:focus {
  color: #343434;
}

a:active {
  color: rgb(80, 0, 0);
}

header ul {
  display: flex;
  gap: 2rem;
}

.social-icon {
  height: 2rem;
}

ul {
  list-style: none;
}

a {
  color: rgb(35, 35, 35);
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 60%;
}

h2 {
  margin-bottom: 1rem;
  font-size: 3rem;
  color: #343434;
  text-align: center;
}

.content img {
  width: 80%;
  height: auto;
}

.content .description {
  margin: 1rem 0;
}

strong {
  color: red;
}

.project-links {
  margin-bottom: 1rem;
}

.accordion li {
  list-style: none;
  width: 100%;
  margin: 1rem 0;
  padding: .5rem;
  border-radius: 8px;
  background-color: #e3edf7;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.5),
              -6px -6px 10px -1px rgba(0, 0, 0, 0.5);
}

.accordion li label {
  display: flex;
  align-items: center;
  padding: .5rem;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}

label::before {
  content: "+";
  margin-right: 10px;
  font-size: 2rem;
  font-weight: 600;
}

input[type="checkbox"] {
  display: none;
}

.accordion .content {
  color: #555;
  padding: 0 10px;
  line-height: 1.2rem;
  max-height: 0;
  overflow: hidden;
}

.accordion input[type="checkbox"]:checked + label + .content {
  max-height: fit-content;
  padding: 2rem 3rem 2rem;
}

.accordion input[type="checkbox"]:checked + label::before {
  content: "-";
}

@media only screen and (max-width: 800px) {
  .wrapper {
    max-width: 80%;
  }
  img {
    width: 100%;
  }
}
