@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url("../images/back-2.jpg");
  background-color: #c1c3c6;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: #c1c3c6;
  align-items: center;
  padding: 0.5rem 0;
  font-family: Verdana, sans-serif;
}

a:hover,
a:focus {
  color: #343434;
}

a:active {
  color: rgb(80, 0, 0);
}

header ul {
  display: flex;
  gap: 2rem;
}

.social-icon {
  height: 2rem;
}

ul {
  list-style: none;
}

a {
  color: rgb(35, 35, 35);
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
}

.wrapper {
  background-color: #e3edf7;
  width: fit-content;
  padding: 1.5rem;
  margin: 2rem ;
  border-radius: 8px;
  font-size: 1.3rem;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.5),
              -6px -6px 10px -1px rgba(0, 0, 0, 0.5);
}

.wrapper form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.wrapper input {
  padding: .5rem;
  width: 70%;
  border: 1px solid #000;
  border-radius: 1rem;
}

.wrapper textarea {
  height: 8rem;
  padding: .5rem;
  width: 18rem;
  max-width: 90%;
  max-height: 50vh;
  min-width: fit-content;
  min-height: 5rem;
  border: 1px solid #000;
  border-radius: 1rem;
}

.wrapper button {
  font-size: 1.1rem;
  width: fit-content;
  padding: .1rem .3rem;
  background-color: #71b0fc;
  border-radius: 10%;
  border: 2px #444 solid ;
}

@media only screen and (min-width: 700px) {
  .container {
    justify-content: flex-start;
  }
  .wrapper textarea {
    height: 16rem;
    width: 32rem;
    max-width: 90ch;
  }
}